.site-footer, .site-footer a {
    color: #838383;
}

.site-footer {
    background-color: #191919;
    font-size: 13px;
    padding: 13px 0;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}

/* .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
} */


/* @media (min-width: 992px) {
.container {
    width: 970px;
}
} */

/* @media (min-width: 768px) {
.container {
    width: 750px;
}
} */